@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "_custom.scss";

html {
    position: relative;
    min-height: 100%;
  }
  
main {
    margin-bottom: 270px;
}

// footer.footer {
//     padding: 15px;
//     position: absolute;
//     bottom: 0;
//     width: 100%;
// }

h3 {
    font-size: 24px;
}

li, p {
    font-size: 16px;
}

h3, p, li {
    font-family: $font-family-headline-sans-serif;
}

li {
    list-style: none;
}

p {
    color: white;
}