@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "_custom.scss";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 270px; 
}

main {
    margin-bottom: 270px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.custom-col-width{
    width: 18%;
}

.custom-col-margin{
    margin-left: 7%;
}

h3 {
    font-size: 24px;
}

li, p {
    font-size: 16px;
}

h2, h3, p, li {
    font-family: $font-family-headline-sans-serif;
}

li {
    list-style: none;
}

p {
    color: white;
}

.section-title {
    font-size: 20px;
}

.logo-arcadia-footer {
    width: 200px;
    height: 200px;
}

.icons {
    margin-right:10px ;
    width: 40px;
    height: 40px;
}

.btn-gradiant {
    background: linear-gradient(to right, $secondary, $primary);
    color:white;
    font-family: $font-family-headline-sans-serif;
}


.card-habitat {
    width: 400px;
}

.card-enclose {
    width: 300px;
    height: 400px;
}

.card-notice{
    width: 300px;
    height: 200px;
}

.circle-container {
    width: 50px; 
    height: 50px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
